* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    border: solid 2px black;
    padding: 15px;
    border-radius: 10px;

    input {
        border-radius: 10px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
        font-size: 24px;
        width: 300px;
        height: 70px;
        margin-bottom: 10px;
        border: solid 1px black;
    }

    button {
        border-radius: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        width: 300px;
        height: 70px;

        &:hover {
            background-color: beige;
        }

        &#switch-button {
            width: 30%;
        }

        span {
            transform: rotate(-90deg);
        }
    }

    #output {
        padding: 5px;
        height: 70px;
        border: solid 1px black;
        font-size: 24px;
        border-radius: 10px;
    }

    #input-instructions {
        display: none;

        &.shown {
            display: block;
        }
    }
}