* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 500px;
    height: 700px;
    text-align: center;
    border: solid 3px black;
    padding: 15px;
    border-radius: 10px;

    h2 {
        padding: 20px 0;
        border-bottom: solid 2px black;
        font-weight: 900;
    }

    input {
        border-radius: 10px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
        font-size: 24px;
        width: 100%;
        height: 70px;
        margin-bottom: 10px;
        border: solid 1px black;

        &::placeholder {
            color: grey;
        }
    }

    button {
        border-radius: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        width: 300px;
        height: 70px;

        &:hover span {
            background-color: beige;
            color: black;

        }

        &#switch-button {
            width: 20%;
        }

        span {
            font-size: 32px;
            transform: rotate(-90deg);
            color: grey;
        }
    }

    #output {
        padding: 5px;
        width: 100%;
        height: 170px;
        border: solid 1px black;
        background-color: white;
        font-size: 32px;
        border-radius: 10px;
        overflow-wrap: break-word;
    }

    #input-instructions {
        display: none;

        &.shown {
            display: block;
        }
    }
}